// pwd octobreparis insta: 01usWtP498ex#
.cf-article{
	-ms-overflow-style: -ms-autohiding-scrollbar;
	-ms-overflow-style: none;
	-moz-overflow-style: -moz-autohiding-scrollbar;
	overflow-style: move;
}
.cf-article::-webkit-scrollbar { display: none; }

.year-block:first-child .cf-article{
	//vertical-align: top !important;
}
