.fancybox-container {
	.fancybox-infobar__body{ background: transparent; font-family: 'SuisseIntl'; font-size:1rem; }
	.fancybox-button{ background: transparent !important; color: white; font-size: 1.75rem;}
	.fancybox-button:hover { background: transparent !important; color: black;}
	.fancybox-stage .fancybox-slide{
		cursor: url('../images/croix-contour.svg'), auto;
	}

	.fancybox-button--close:after, .fancybox-button--close:before { width: 28px !important;}

	.fancybox-button--left, .fancybox-button--right { color: transparent; }
	.fancybox-navigation {
		.fancybox-arrow {
		    top: 15%;
		    margin: -50px 0 0;
		    height: 85%;
		    width: 5%;
		    padding: 0;
		    outline: none;
		    background: none;
		    z-index: 99995;
		    opacity: 0;
		    transition: opacity .25s;
			//outline: 1px solid red;
		}

		.fancybox-arrow--right{
			cursor: url('../images/fleche-droite.svg'), auto;
			right: 10%;
		}
		.fancybox-arrow--left{
			cursor: url('../images/fleche-gauche.svg'), auto;
			left: 10%;
		}
	}
}
