.banner .nav li {
  @extend .nav-item;
}
.banner .nav a {
  @extend .nav-link;
}

.text-header{
    color:black;
    font-size:28px;
    transform:rotate(90deg);
}
a.text-header:hover{
    text-decoration: none;
    color:black;
}

input#search-input{
    border:0px;
    border-bottom: 1px solid black;
    background: transparent;
}
input#search-input::placeholder{
    color:black;
}
