// Posts
//https://css-tricks.com/override-inline-styles-with-css/


#search-msg .not-found{ display: none; }

#noResultId{
	font-size:1.75rem;
	#no-fr{ top:680px; right:5px; }
	// #no-fr{ top:230px; right:5px; }
	#no-en{ top:65%; right: 5px; }
	#no-ar{ bottom:-30px; right:5px; }
}

@media only screen and (min-width : 120px) and (max-width : 1030px) {
	.cf-article[style]{
		width: 95%;
		max-width: 95% !important;

		margin:0 !important;
		margin-top:0 !important;
		margin-right:0 !important;
		margin-bottom: 75px !important;
		margin-left:0 !important;

		padding-top:0 !important;
		padding-right:0 !important;
		padding-bottom:0 !important;
		padding-left: 3% !important;

		font-size: 1.2rem !important;
		font-family: 'SuisseIntl' !important;
	}
	.side-text{
		display:none;
		font-family: 'SuisseIntl' !important;
	}

	#noResultId{
		font-size:1.2rem;
		#no-fr{ top:480px;}
	}
}

@media only screen and (max-width : 400px) {
	#noResultId{
		font-size:1.2rem;
		#no-fr{ top:480px; right:5px; width: 470px;}
	}
}
