// Base styles

body, h1, h2, h3, h4, h5, h6{
	font-family: 'SuisseIntl';
}

.current-year{
	background-color: #00594E;
}

//https://css-tricks.com/forums/topic/iframe-not-working-on-iphone/
iframe{
	border: 0;
	-webkit-overflow-scrolling:touch;
	overflow:auto;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
	from {background-color: white;}
	to {background-color: black;}
}

/* Standard syntax */
@keyframes example {
	from {background-color: white;}
	to {background-color: black;}
}

.last-year {
	background-color: black;
	color: white;
	-webkit-animation-name: example; /* Safari 4.0 - 8.0 */
	-webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
	animation-name: example;
}
//http://jsfiddle.net/Hj34s/
.last-year{
	animation-duration: 1s;
	-webkit-transition: all 1s ease-out;
	-moz-transition: all 1s ease-out;
	-o-transition: all 1s ease-out;
	-ms-transition: all 1s ease-out;
	transition: all 1s ease-out;
	background-color: white;
	//background-blend-mode: exclusion;
}
.last-year:hover {
    -webkit-transition: all 1s ease-in;
    -moz-transition: all 1s ease-in;
    -o-transition: all 1s ease-in;
    -ms-transition: all 1s ease-in;
    transition: all 1s ease-in;
    background-color: black;
	//background-blend-mode: exclusion;
}

// https://css-tricks.com/snippets/css/hide-scrollbar-in-edge-ie-1011/
// https://stackoverflow.com/questions/3296644/hiding-the-scrollbar-on-an-html-page
html {
	-ms-overflow-style: -ms-autohiding-scrollbar;
	-ms-overflow-style: none;
	-moz-overflow-style: -moz-autohiding-scrollbar;
	//-webkit-overflow-scrolling: touch;
	overflow: auto;
}
//https://stackoverflow.com/questions/41650863/how-to-hide-scrollbar-in-a-div
//::-webkit-scrollbar { display: none; }

.couvrefeu-text{
	transform:rotate(90deg);
	font-size: 28px;
	color:black;
}

a.side-text {
	color:black;
	font-size:28px;
	transform:rotate(90deg);
	vertical-align: baseline;
	//mix-blend-mode:  difference;
}

a.side-text:hover {
	text-decoration: none;
	//mix-blend-mode: exclusion;
	color: $select_color;
}

a.know-more{ color:black; }
a.know-more:hover{ text-decoration: none; color:black;}

.cf-white{ color:white }

a.cf-event-title{
	text-decoration: none;
	color:white;
}

a.cf-event-title:hover{
	text-decoration: none;
	color: $select_color;
}

// Remove 1900 from loading
.year-0 h5{
	color:transparent;
}

::-moz-selection { background: $select_color; }
::selection{ background: $select_color; }



//Bugs
//https://stackoverflow.com/questions/14477265/css-white-text-on-black-background-looks-bolder
